@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background:aqua;
  overflow: hidden;
}
.bi{
    margin-left: 300px;
    margin-top: -45px;
}
::selection{
  /* background:beige; */
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  /* height: 70%; */
  background: #fff;
  /* background: red; */
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.heading{
    /* margin-left: px; */
}
.cc{
    position:absolute;
}
.aa{
    position:absolute;
    height: 160px;
    width: 400px;
    z-index: 0;
    margin-top: -15px;
    /* display: flex */
}
.wrapper .title{
    /* position:absolute; */

  height: 90px;
  /* background: #16a085; */
  /* background:chartreuse; */
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
  /* margin-left: 10px; */
}

.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  /* height: 95px; */
  height: 50px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  /* height: 45px; */
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  /* transition: all 0.3s ease; */
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: aqua;
  border: 1px solid aqua;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;   
  padding-left: 0px;
  background: aqua;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #16a085;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

#eye{
    position:absolute;
    color:black;
    height: 40px;
    margin-left:300px;
    /* margin-top: -45px; */
    /* display: block; */
    background-color:white;
    background: none;
    border: none;
}
#eye1{
    position:relative;
    color:black;
    /* height: 50px; */
    margin-left:300px;
    margin-top:-px;
    display: none;
    background:none;
    border: none;
}
p{
    margin-top: -5px; 
    margin-left: -180px;
    z-index: 1;
    color:wheat;
}
.one{
    /* position:absolute; */
    background-color: white;
    /* margin-top: -300px; */
    height: 10px;
    width: 10px;
    border-radius: 50%;
    padding: 5px;
    /* margin: 10px; */
    margin-left:10px;
    margin-top: 100px;
    z-index: 1;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    
}
.one{
    background-color:black;
    /* position:absolute; */

}
.one:hover{
    background-color: aqua;
    cursor: pointer;
    /* margin-left: 10px; */

}
.btn{
    width: 170px;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    /* border:none; */
    opacity:0.8 ;
    /* background-color: #52ACEA; */
    background-color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(88, 230, 69);
}
.btn a:hover{
color: rgb(122, 33, 33);
}
.btn a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
#port{
    position:absolute;
    border-radius: 50%;
    margin-top: -110px;
    margin-left: 410px;
    z-index: 1;
    /* display: none; */
}